@tailwind base;
@tailwind components;
@tailwind utilities;


body ,html{
  color: rgb(var(--foreground-rgb));
    width: 100%;
    height: auto;
}

.que1.active {
  font-weight: bold; /* Change font properties as needed */
  transition: all 0.3s ease; /* Add transition effect */
}
.reads ::-webkit-scrollbar{
  display: none;
}
a:active{
  color: blueviolet;
}
